body{
    background-image: url(../images/mock-up.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    height: 5227;
    font-family: sans-serif;
}
.container{
    width: 1109px;
    margin: auto;
    padding-top: 11px
}
header{
    background-color: #fff;
    height: 72px;
}
header .header-wrapper{
    display: flex;
    justify-content: space-between;
}
.header-wrapper .logo h1{
    color: #506872cc;
    font-size: 29px;
    margin: 0px 0;
}
.navi-wrapper .navi{
    display: flex;
    margin: 8px 0;
    list-style: none;
}
.header-wrapper .navi li a{
    padding: 0px 20px;
    margin: -10px 0px;
}
#hero{
    height: 568px;
    background-image: url(../images/hero-bg.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: right top;
}
.hero-wrapper{
    display: flex;
    justify-content: space-between;
    padding: 1px 0px;
}
.hero-text{
    flex-basis: auto;
    font-family: serif;
    padding: 80px 0px;
}
.hero-text h3{
    font-size: 57px;
    margin: 14px 0px;
    font-family: serif;
    line-height: 1;
    color: #344046;
}
.hero-text p{
    font-size: 29px;
    margin: 8px 0px;
    line-height: 1;
}
.hero-text .cta{

}
.hero-text .cta a{
    margin-top: 23px;
    color: white;
    padding: 12px 25px;
    display: inline-block;
    background-color: #52a6e7;
    border-radius: 8px;
    text-decoration: none;
}
}
.hero-image{
    flex-basis: auto;
}
.hero-image img{
    display: block;
    max-width: 382px;
    margin: 37px 73px;
    display: block;
    max-width: 382px;
    margin: 37px 73px;
    
}
#about{
    height: 511px;
}
#about .container{
    */background-color: #f7f8fa;*/
    padding: 207px 15px;
    
}
.about-wrapper{
    display: flex;
    justify-content: space-between;
}
.about-wrapper .about-image img{
    flex-basis: auto;
    background-image: url(../images/about.jpg);
    
}
.about-wrapper .about-text{
    flex-basis: auto;
} 

#features{
    height: 530px;
}
#services{
    height: 530px;
}
#portfolio{
    height: 1132px;
}
#c2a{
    height: 265px;
}
#team{
    height: 689px;
}
#contact{
    height: 806px;
}
footer{
    height: 110px;
}