body{
    background-image: url(../images/mock-up.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    height: 5227px;
    font-family: sans-serif;
}
.container{
    width: 1109px;
    margin: auto;
    padding-top: 11px;
}
.primary-button a{
    margin-top: 27px;
    color: white;
    padding: 14px 24px;
    display: inline-block;
    background-color: #009ceb;
    border-radius: 6px;
    text-decoration: none;
}
header{
    height: 72px;
}
header .header-wrapper{
    display: flex;
    justify-content: space-between;
}
.header-wrapper .logo h1{
    color: #506872cc;
    font-size: 29.5px;
    margin: 12px 0px;
}
.navi-wrapper .navi{
    display: flex;
    margin: 16px 106px;
    list-style: none;
    color: #8999a6;
}
.header-wrapper .navi li a{
    padding: 0px 19.5px;
}
#hero{
    height: 568px;
    background-image: url(../images/hero-bg.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: right top;
}
.hero-wrapper{
    display: flex;
    justify-content: space-between;
    padding: 1px 0px;
}
.hero-text{
    flex-basis: auto;
    font-family: serif;
    padding: 80px 0px;
}
.hero-text h3{
    font-size: 48px;
    margin: 21px 1px;
    line-height: 1.2;
    color: #374146;
    font-family: 'Raleway', sans-serif;
    width: 543px;
}
.hero-text p{
    font-size: 26px;
    line-height: 1.2;
    font-family: 'Raleway', sans-serif;
    color: #76858b;
    margin-top: -8px;
    font-weight: 100;
}
.hero-image{
    flex-basis: auto;
}
.hero-image img{
    display: block;
    max-width: 382px;
    margin: 44px 75px;   
}
#about{
    height: 511px;
    background-color: white;
}
#about .container{
    background-color: #f7f8fa;
    padding: 8px 20px;
    
}
.about-wrapper{
    display: flex;
    justify-content: space-between;
    padding: 52px 35px;
}
.about-wrapper .about-image img{
    margin: 16px 0px;
    flex-basis: auto;
    background-image: url(../images/about.jpg);
    height: 311px;
}
.about-wrapper .about-text{
    flex-basis: auto;
} 
.about-text h3{
    color: #354046ad;
    font-size: 34px;
    margin-left: 25px;
    margin-top: 18px;
}
.about-text p{
    margin-left: 26px;
    font-size: 17px;
    line-height: 1.5;
    margin-top: 11px;
    color: #748599;
}
.about-text ul{
    padding-bottom: 1px;
}
.about-text ul li{
    list-style: none;
    line-height: 1.4;
    list-style-position: outside;
    margin: 11px -5px;
    color: #748599;
    font-size: 18px;
    font-family: sans-serif;
}
.about-text ul li i{
    color: #2ba94d;
    margin-left: 35px;
}
.about-text-1 p{
    margin-top: 14px;
    color: #748599;
    font-family: sans-serif;
}
#features{
    height: 530px;
}
#features .features-wrapper{
    display: flex;
    justify-content: space-between;
}
.features-wrapper .features-text{
    flex-basis: auto;
    margin-left: -3px;
    
}
.features-text .features-lists{
    border-left: solid 4px #fafcfb;
}
.features-lists .features-list-1{
    padding: 25px 20px;
    border-left: 3px solid #73b6f1;
    background-color: #fbfbfb;
}
.features-lists .features-list-1 h3{
    color: #73b6f1;
    margin: 3px 1px;
    font-size: 18px;
}
.features-lists .features-list-1 p{
    margin: 11px 0px;
    color: #959299;
    font-size: 17px;
}
.features-lists .features-list-2{
    padding: 0px 22px;
}
.features-lists .features-list-2 h3{
    padding: 15px 0px;
    color: #8490a2;
    font-size: 18px;
}
.features-lists .features-list-2 p{
    color: #808995;
    font-size: 14px;
}
.features-lists .features-list-3{
    padding: 0px 22px;
}
.features-lists .features-list-3 h3{
    padding: 43px 0px;
    color: #8490a2;
    font-size: 17.5px;
    margin-top: 9px;
}
.features-lists .features-list-3 p{
    margin: -29px 0px;
    color: #808995;
    font-size: 14px;
}
.features-lists .features-list-4{
    padding: 0px 22px;
}
.features-lists .features-list-4 h3{
    padding-top: 80px;
    color: #8490a2;
    font-size: 18px;
}
.features-lists .features-list-4 p{
    margin-top: 16px;
    color: #808995;
    font-size: 14px;
}
.features-wrapper .features-image{
    flex-basis: auto;
}
.features-image img{
    background-image: url(../images/features/features-1.png);
}
#services{
    height: 530px;
    background-color: #eeeeee;
}
.section-header{
    padding-top: 67px;
}
.section-header h1{
    text-align: center;
    color: #708892;
    font-size: 33px;
}
.section-header p{
    text-align: center;
    color: #636570;
    line-height: 1.5;
    margin-top: 20px;
    font-size: 18px;
} 
.card-type-wrapper{
    display: flex;
    justify-content: space-between;
    padding-top: 26px;
    height: 273px;
    margin: 0px -10px;
}
.type-1,
.type-2,
.type-3,
.type-4{
    background-color: white;
    flex-basis: 23%;
    margin: 4px 12px;
}
.type-1 .icon-wrapper{
    font-size: 47px;
    color: #ff699a;
    text-align: center;
    padding-top: 32px;
}
.type-2 .icon-wrapper{
    font-size: 40px;
    color: #68d89b;
    text-align: center;
    padding-top: 35px;
}
.type-3 .icon-wrapper{
    font-size: 54px;
    color: #6dda25;
    text-align: center;
    padding-top: 20px;
}
.type-4 .icon-wrapper{
    font-size: 45px;
    color: #539ec6;
    text-align: center;
    padding-top: 28px;
}
.type-1 h3,
.type-2 h3,
.type-3 h3,
.type-4 h3{
    text-align: center;
    color: #431e2f;
    margin-top: 14px;
    font-size: 18px;
}
.type-1 p,
.type-2 p,
.type-3 p,
.type-4 p{
    text-align: center;
    line-height: 1.8;
    color: #8f7064;
    margin-top: 21px;

}
#portfolio{
    height: 1132px;
}
.section-body{
    display: flex;
    justify-content: space-between;
}
.portfoliio-wrapper{
    flex-basis: auto;
}
.portfoliio-wrapper img{
    max-width: 340px;
    padding: 13px;
    margin-top: 15px;
}
#c2a{
    background-image: url(../images/cta-bg.jpg);
    background-size: cover;
}
#c2a .c2a-overlay{
    height: 265px;
    background-color: #ffffff9e;
}
.c2a-wrapper{
    height: 265px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.c2a-wrapper .c2a-text{
    flex-basis: 75%;
}
.c2a-wrapper .c2a-text h2{
    color: #434147;
    font-size: 27.5px;
    margin-top: 25px;
}
.c2a-wrapper .c2a-text p{
    color: #7f7f7d;
    line-height: 1.5;
    margin-top: 12px;
    font-size: 17px;
}
.c2a-wrapper .c2a-link{
    flex-basis: 15%;
    margin-top: -13px;
}
.c2a-link .primary-button a{
    padding: 13px 36px;
    border-radius: 0px;
    background-color: #009ce9;
    margin-left: -12px;
}
#team{
    background-image: url(../images/team-bg.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
.team-overlay{
    height: 696px;
    background-color: #ffffff9e;
}
.team-wrapper{
    display: flex;
    justify-content: space-between; 
}
.team-wrapper img{
    max-width: 350px;
    padding: 16px 11px;
    flex-basis: 36%;
    margin-top: 13px;
}
.team-text{
    display: flex;
    justify-content: space-between;
}
.text-1,
.text-2,
.text-3{
    flex-basis: 31%;
    background-color: white;
    position: relative;
    top: -81px;
    text-align: center;
    padding: 9px;
    margin-left: 21px;
    margin-right: 58px;
}
.text-3{
    margin-right: 25px;
}
.text-1 h2:after,
.text-2 h2:after,
.text-3 h2:after{
    position: relative;
    display: block;
    width: 60px;
    height: 1px;
    background: #bdc9ce;
    margin: auto;
    content: "";
    top: 9px;
}
.text-1 h2,
.text-2 h2,
.text-3 h2{
    margin: 24px 0px;
    color: #79899a;
    font-size: 17px;
}
.text-1 p,
.text-2 p,
.text-3 p{
    font-size: 12px;
    font-family: cursive;
    color: #8e989b;
}
#contact{
    height: 806px;
    background-color: #eeeeee;
}
#contact h1{
    text-align: center;
    font-size: 34px;
    color: #7d8e96;
    padding-top: 57px;
}
.contact-wrapper{
    display: flex;
    justify-content: space-between;
    padding-top: 56px;
}
.contact-info{
    flex-basis: 40%;
    background-color: white;
    height: 597px;
    padding-top: 15px;
}
.contact-information{
    display: flex;
    justify-content: space-between;
}
.contact-logo ul{
    list-style: none;
    margin-top: -20px;
    padding: 0px 41px;
}
.contact-logo ul li{
    border-radius: 74%;
    margin: 32px -5px;
    background-color: #f3f4f6;
}
.contact-logo ul li i{
    margin: 9px;
    display: inline-block;
    line-height: 29px;
    font-size: 18px;
    color: #029de9;
} 
.contact-status{
    flex-basis: 79%;
}
.contact-text-1 h2{
    font-size: 19px;
    padding-top: 16px;
    color: #526978;
    margin-left: -16px;
}
.contact-text-2 h2{
    padding-top: 35px;
    font-size: 20px;
    color: #526978;
    margin-left: -18px;
}
.contact-text-3 h2{
    font-size: 21px;
    padding-top: 34px;
    color: #526978;
    margin-left: -18px;
}
.contact-text-1 p{
    margin-top: 11px;
    color: #a6b5cd;
    margin-left: -16px;
}
.contact-text-2 a,
.contact-text-3 a{
    text-decoration: none;
    color: #a6b5cd;
}
.contact-text-2 p{
    margin-top: 10px;
    margin-left: -17px;
}
.contact-text-3 p{
    margin-top: 10px;
    text-decoration: none;
    margin-left: -13px;
}
.contact-map iframe{
    height: 290px;
    width: 114%;
    margin: 32px -76px;
    border: none;
}
.contact-form{
    background-color: white;
    height: 597px;
    width: 632px;
}
.contact-details{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 34px;
    padding-left: 30px;
}
.form-set{
    display: grid;
}
.name{
    flex-basis: 47%;
}
.name label{
    margin-bottom: 11px;
    font-size: 17px;
    color: #9e9b94;
}
.name input[type='text']{
    height: 36px;
    
}
.email input[type='email']{
    height: 37px;
    
}
.email{
    flex-basis: 47%;
    padding-right: 28px;
    
}
.email label{
    font-size: 17px;
    color: #9e9b94;
}
.email input{
    margin-top: 10px;
}
.subject{
    flex-basis: 95%;
    margin-top: 28px;
}
.subject textarea{
    height: 40px;
    margin-top: 11px;
   
}
.subject label{
    font-size: 16px;
    color: #9e9b94;
}
.message{
    flex-basis: 95%;
    padding-top: 28px;
}
.message label{
    color: #9e9b94;
}
.message textarea{
    height: 225px;
    margin-top: 13px;
    
}
.c2a-1 .primary-button a{
    padding: 12px 30px;
    background-color: #3faddb;
    margin-left: 207px;
    margin-top: 26px;
}
footer{
    height: 110px;
    text-align: center;
    font-size: 13px;
    color: #3a506d;
    background-color: #f7f8fa;
}
footer p{
    margin-top: 42px;
    font-size: 14.5px;
}
